.wrapper {
  /* padding: 1rem 0 0 1rem; */
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
}

.header {
  background: lightblue;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.tasks {
  border: 0.1rem solid black;
  width: 14rem;
}

.task {
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid black;
}

.progress-title {
  text-align: center;
  padding: 1rem 0 0 0;
}

.priority-tag-low {
  background: lightgreen;
}
.priority-tag-middle {
  background: yellow;
}
.priority-tag-high {
  background: red;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background: white;
  box-shadow: 24;
  padding: 4rem;
}
