body {
  margin: 0;
  color: #1a2027;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 400;
  background-color: #fff;
}
a {
  text-decoration: none;
}

.check-square {
  height: 5rem;
}

button {
  border: none;
  cursor: pointer;
}

.top-page-wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
  text-align: center;
  align-items: center;
}

.top-title-container {
  padding: 0 0 0 10%;
}

.top-title {
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  margin: 0;
}

.top-title-decoration {
  background: linear-gradient(to right, #007fff, #0059b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-title-description {
  text-align: justify;
  font-size: 0.9rem;
  padding: 0 2.5rem;
  margin: 2rem 0 4rem 0;
}

.login-button {
  background: #007fff;
  color: white;
  font-size: 1rem;
  width: 11rem;
  height: 4rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.login-button:hover {
  background: #0059b2;
}

.signup-button {
  font-size: 1rem;
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 0.12rem solid #cdd2d7;
  background: white;
}

.signup-button:hover {
  background: #eef1f4;
}

.top-page-right-container {
  background: #f3f6f9;
  height: 48vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-page-img {
  width: 42vw;
  box-shadow: 4px 4px 40px silver;
  object-fit: cover;
  height: 60vh;
  object-position: 10% 50%;
  border-radius: 0.7rem;
}

.header {
  border-bottom: 0.1rem solid #cdd2d7;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
  box-shadow: 0 3px 2px silver;
}
.header-left-area {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.header-icon {
  color: #007fff;
  font-size: 3.2rem;
}
.header-profile-name {
  background: linear-gradient(to right, #007fff, #0059b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  font-weight: 500;
}

.logout-button {
  font-size: 1rem;
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 0.12rem solid #b2bac2;
  background: #eef1f4;
}

.logout-button:hover {
  background: white;
}

.my-page-container,
.member-tasks-page-container,
.member-page-container {
  height: 90vh;
  padding: 0 3rem;
}
.my-page-container-button-area,
.member-tasks-page-container-button-area,
.member-page-container-button-area {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem 0 0 0;
}

.create-task-button,
.go-my-page-button {
  background: #007fff;
  color: white;
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.create-task-button:hover,
.go-my-page-button:hover {
  background: #0059b2;
}

.member-list-button {
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.12rem solid #cdd2d7;
  background: white;
}

.member-list-button:hover {
  background: #eef1f4;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 0;
}

.task-line {
  width: 20rem;
  height: 35rem;
  background: #f3f6f9;
  border-radius: 1rem;
  padding: 1rem 0rem 1rem 0rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.progress-title {
  text-align: center;
  padding: 0.8rem 0 0 0;
  font-size: 1.1rem;
}
.task-one-line-area {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 31rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.task {
  padding: 0.9rem 1rem;
  margin: 1rem 1.4rem;
  background: white;
  border-radius: 0.7rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}

.task-move-button-area {
  display: flex;
  gap: 0.5rem;
  margin: 0.3rem 0 0 0;
}

.task-move-button {
  font-size: 1.5rem;
  color: #c6cfd8;
}
.task-move-button:hover {
  cursor: pointer;
  color: #007fff;
}

.priority-tag {
  color: #007fff;
  font-size: 1rem;
}

.task-handle-button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-edit-delete-button {
  font-size: 1.6rem;
}
.task-edit-delete-button:hover {
  cursor: pointer;
}

.task-edit-button {
  color: #4ba2fc;
}
.task-edit-button:hover {
  color: #007fff;
}
.task-delete-button {
  color: #b2bac2;
}
.task-delete-button:hover {
  color: #969da4;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 20rem;
  background: white;
  padding: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.modal-contents {
  display: flex;
  flex-direction: column;
}
.modal-title-area {
  display: flex;
  justify-content: center;
}
.modal-title {
  font-size: 2rem;
  background: linear-gradient(to right, #007fff, #0059b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal-input-task {
  width: 30rem;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 0.3rem;
  margin: 1.5rem 0;
}
.modal-label {
  font-size: 1.2rem;
  margin: 0 0.6rem 0 0;
}
.modal-input-priority {
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
}
.modal-finish-button-area {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  padding: 3rem 0 0 0;
}
.modal-confirm-finish-button {
  background: #007fff;
  color: white;
  font-size: 1rem;
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.modal-confirm-finish-button:hover {
  background: #0059b2;
}
.modal-close-button {
  font-size: 1rem;
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 0.12rem solid #cdd2d7;
  background: white;
}

.modal-close-button:hover {
  background: #eef1f4;
}
.member-table-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
}
.member-table {
  border-collapse: collapse;
  border-spacing: 1rem;
  width: 80vw;
}

.member-table-tr:hover {
  cursor: pointer;
  background: #eef1f4;
}

.member-table-td {
  border: 0.15rem solid #eef1f4;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
.member-table-head {
  height: 2.8rem;
  background: #0059b2;
  color: white;
  border: 0.15rem solid #0059b2;
  font-weight: 600;
}
.member-table-td-person {
  border-right: none;
  width: 10vw;
  padding: 0 0 0 2.5rem;
}
.member-table-td-name {
  border-left: none;
  border-right: none;
  width: 40vw;
}
.member-table-td-team {
  border-left: none;
  border-right: none;
  width: 20vw;
}
.member-table-td-button {
  border-left: none;
  width: 10vw;
}
.member-select-button {
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.12rem solid #cdd2d7;
  background: white;
}

.member-select-button:hover {
  background: #eef1f4;
}
.member-table-image-person {
  color: #0059b2;
  font-size: 2rem;
}

.account-setting-container {
  display: flex;
  justify-content: center;
  background: #f3f6f9;
  height: 90vh;
  align-items: center;
}

.account-setting-container-contents {
  width: 30rem;
  height: 30rem;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  box-shadow: 4px 4px 6px silver;
}

.account-setting-description-decoration {
  background: linear-gradient(to right, #007fff, #0059b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-weight: bold;
}

.account-setting-button {
  background: #007fff;
  color: white;
  font-size: 1rem;
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
}

.account-setting-button:hover {
  background: #0059b2;
}

.signup-container {
  display: flex;
  justify-content: center;
  background: #f3f6f9;
  height: 90vh;
}
.signup-container-contents {
  width: 25rem;
  height: 24rem;
  background: white;
  margin: 5rem 0 0 0;
  padding: 3rem 5rem;
  border-radius: 2rem;
  box-shadow: 4px 4px 6px silver;
  display: flex;
  align-items: center;
}
.signup-title {
  font-size: 1.8rem;
  background: linear-gradient(to right, #007fff, #0059b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.signup-form-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-input-name-area {
  margin: 2.5rem 0 1rem 0;
}

.signup-input-name {
  font-size: 1.4rem;
  width: 20rem;
  height: 3rem;
  padding: 0 0.5rem;
}
.form-error-message {
  color: red;
  font-size: 0.8rem;
  text-align: end;
}
.signup-input-team {
  height: 3rem;
  width: 14rem;
  font-size: 1.2rem;
}
.signup-confirm-button {
  background: #007fff;
  color: white;
  font-size: 1rem;
  width: 9rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
  font-size: 1.2rem;
  margin: 2.8rem 0 0 0;
}

.signup-confirm-button:hover {
  background: #0059b2;
  cursor: pointer;
}
